.newClient {
  flex: 4;
}

.newClientForm {
  display: flex;
  flex-wrap: wrap;
}

.newClientTitle {
  font-size: 2rem;
}

.newClientItem {
  width: 40rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-right: 2rem;
}

.newClientItem > label {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.newClientItem > input {
  height: 2.8rem;
  border: .1rem solid gray;
  border-radius: .5rem;
  font-size: 1.4rem;
  padding: 1rem 1rem;
}


.newClientSelect{
    height: 4rem;
    border-radius: .5rem;
}

.newClientButton{
    width: 20rem;
    border: none;
    background-color: darkblue;
    color: white;
    padding: .7rem 1rem;
    font-weight: 600;
    border-radius: 1rem;
    margin-top: 3rem;
    cursor: pointer;
    font-size: 1.6rem;
}

.newClientButton:disabled,
.newClientButton[disabled] {
  background-color: gray;
}
